@import 'libs/bootstrap-reboot';
@import 'libs/fonts';
@import 'variables/variables';

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

@import 'blocks/text';
@import 'blocks/titles';
@import 'blocks/header';
@import 'blocks/order-ahead';
@import 'blocks/advantages';
@import 'blocks/how-works';
@import 'blocks/advantages-2';
@import 'blocks/send-gifts';
@import 'blocks/sub-footer';
@import 'blocks/footer';