.header {
    padding-top: 1.875rem;
    padding-bottom: 7.875rem;
    background: $sub-bg-color;
    &_content {
        display: flex;
        justify-content: space-between;
        &_nav {
            width: 27.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_item {
                font-weight: bold;
                font-size: 14px;
                color: $main-color;
                &:hover {
                    text-decoration: none;
                }
            }
            &_button {
                width: 7.625rem;
                height: 3.125rem;
                background: $main-color;
                border-radius: 8px;
                border: none;
                font-weight: bold;
                font-size: 14px;
                color: #fff;
            }
        }
    }
}