.how-works {
    position: relative;
    padding-bottom: 8rem;
    &_item-1 {
        position: absolute;
        top: 13%;
        left: 21.5%;
        z-index: 1;
    }
    &_item-2 {
        position: absolute;
        bottom: 9.3%;
        left: 28.10%;
        z-index: 2;
    }
    &_item-3 {
        position: absolute;
        bottom: 8%;
        left: 40.28%;
        z-index: 3;
    }

    &_content {
        padding-top: 7.188rem;
        padding-bottom: 6.063rem;
        padding-right: 10.375rem;
        display: flex;
        justify-content: flex-end;
        background: $sub-bg-color;
        border: none;
        border-radius: 3.125rem;
        &_descr {
            &_choose {
                display: flex;
                justify-content: space-between;
                width: 6.813rem;
                &_round {
                    width: 0.625rem;
                    height: 0.625rem;
                    border: none;
                    border-radius: 0.625rem;
                    background: #E3E6E8;
                }
                &_oval {
                    width: 3.125rem;
                    height: 0.625rem;
                    border: none;
                    border-radius: 0.625rem;
                    background: $sub-elem-color;
                }
            }
        }
        
    }
}