.send-gifts {
    position: relative;
    padding-top: 5.25rem;
    padding-bottom: 8rem;
    &_item-1 {
        position: absolute;
        top: 20%;
        right: 21%;
        z-index: 1;
    }
    &_item-2 {
        position: absolute;
        bottom: 11.5%;
        right: 27.4%;
        z-index: 2;
    }
    &_item-3 {
        position: absolute;
        bottom: 12.2%;
        right: 41.28%;
        z-index: 1;
    }

    &_content {
        padding-top: 7.188rem;
        padding-bottom: 6.063rem;
        padding-left: 10.375rem;
        display: flex;
        justify-content: flex-start;
        background: $sub-bg-color;
        border: none;
        border-radius: 3.125rem;
        &_descr {
            h2 {
                margin-top: 1.375rem;
            }
            p {
                margin-top: 1.313rem;
            }
            &_choose {
                display: flex;
                justify-content: space-between;
                width: 6.813rem;
                margin-top: 3.125rem;
                &_round {
                    width: 0.625rem;
                    height: 0.625rem;
                    border: none;
                    border-radius: 0.625rem;
                    background: #E3E6E8;
                }
                &_oval {
                    width: 3.125rem;
                    height: 0.625rem;
                    border: none;
                    border-radius: 0.625rem;
                    background: $sub-elem-color;
                }
            }
        }  
    }
}