.text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $text-color;
    &__medium {
        font-weight: 500;
        font-size: 1.125rem;
        &_2 {
            font-weight: 400;
        }
    }
}